.containerDetail{
    display: flex;
    padding: 50px;
    align-items: center;
    margin: 20px;
    justify-content: center;
    gap: 100px;
    border-radius: 5px;
        
    
}
.containerDetailImagen{
    width: 200px;
    border-radius: 5px;
    
}

.cardItemDetail{
    text-align: center;
    margin: 20px;
}