.cartContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: baseline;
    
}

.cart{
    padding: 20px;
    width: 60%;
    align-items: center;
    text-align: center;
    
        
}
.cartLi{
    margin-top: 20px;
    list-style: none;
    
}



.imageCart{
    width: 50px;
}

.productsCart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cartButton{
    width: 100px;
    margin-top: 20px;
    border-radius: 5px;
    
}

.cartForm{
background-color: rgb(232, 232, 167);
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formInput{
    margin: 10px;
}